.flag-card {
  margin-bottom: 80px;
  cursor: pointer;
  min-height: 350px;
   img {
     width: 350px;
     height: 228px;
     max-width: 500px;
   }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
   p {
     margin: 5px 0 5px 0;
   }
}
