
.header.dark-theme {
    background-color: hsl(209, 23%, 22%) !important;
}

.header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  padding: 20px 80px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 10%);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px;
  }
}
