<div class="main-section">
  <section id="flag-card-section">
    <form [formGroup]="form">
      <div class="form-flex">
        <mat-form-field appearance="outline">
          <mat-icon matIconPrefix>search</mat-icon>
          <input matInput placeholder="Search for a country..." formControlName="country" (keyup)="filter()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select (selectionChange)="filter()" formControlName="region">
            <mat-option value="">Filter by Region</mat-option>
            <mat-option [value]="region" *ngFor="let region of regions;">{{region}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <div class="content">
      <cf-flag-card *ngFor="let flag of flags;" [flag]="flag" (click)="selectFlag(flag)"></cf-flag-card>
    </div>
  </section>
  <section id="detail-section">
    <button mat-raised-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>

    <div class="detail-wrapper">

      <img [src]="selectedFlag?.flag" alt="" style="max-width: 450px;">

      <div class="info-wrapper">
        <h2>{{selectedFlag?.name}}</h2>

        <div class="info-details">
          <div>
            <div class="info">
              <b>Native Name:</b>&nbsp;
              <span>{{ selectedFlag?.nativeName }}</span>
            </div>

            <div class="info">
              <b>Population:</b>&nbsp;
              <span>{{ selectedFlag?.population | number: '1.0-0' }}</span>
            </div>

            <div class="info">
              <b>Region:</b>&nbsp;
              <span>{{ selectedFlag?.region }}</span>
            </div>

            <div class="info">
              <b>Sub Region:</b>&nbsp;
              <span>{{ selectedFlag?.subregion }}</span>
            </div>

            <div class="info">
              <b>Capital:</b>&nbsp;
              <span>{{ selectedFlag?.capital }}</span>
            </div>
          </div>

          <div class="domain-info">
            <div class="info">
              <b>Top Level Domain:</b>&nbsp;
              <span *ngFor="let topLevelDomain of selectedFlag?.topLevelDomain">{{ topLevelDomain }}</span>
            </div>

            <div class="info">
              <b>Currencies:</b>&nbsp;
              <span *ngFor="let currency of selectedFlag?.currencies ">{{ currency.name }}</span>
            </div>

            <div class="info">
              <b>Languages:</b>&nbsp;
              <span *ngFor="let language of selectedFlag?.languages; last as isLast">{{ language?.name  + (!isLast ? ',&nbsp;' : '') }}</span>
            </div>
          </div>
        </div>

        <div class="border-countries">
          <b>Border Countries:</b>&nbsp;
          <div class="border-country-btn">
            <button mat-stroked-button *ngFor="let border of selectedFlag?.borders;">{{ border }}</button>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
