<div class="main-section">
  <section id="flag-card-section">
    <form [formGroup]="form">
      <div class="form-flex">
        <mat-form-field appearance="outline">
          <mat-icon matIconPrefix>search</mat-icon>
          <input matInput placeholder="Search for a country..." formControlName="country" (keyup)="filter()">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Filter by region" (selectionChange)="filter()" formControlName="region">
            <mat-option value="">Filter by Region</mat-option>
            <mat-option [value]="region" *ngFor="let region of regions;">{{region}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <div class="content">
      <cf-flag-card *ngFor="let flag of flags;" [flag]="flag"></cf-flag-card>
    </div>
  </section>
</div>
